* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  margin-top: 60px;
  padding: 10px;
}

.inp1 {
  padding: 5px;
  width: 150px;
}

.inp2 {
  padding: 5px;
  width: 150px;
}
